In [1]:
#Import important libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://www.popvortex.com/music/charts/top-100-songs.php'

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
soup
print(soup.prettify())

In [6]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite
soup.select('#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite')

In [ ]:
soup.select('div.chart-content.col-xs-12.col-sm-8 ')

In [19]:
#Select only the titles:
title_soup=soup.select('cite.title')

In [9]:
soup.select('em.artist')[0].get_text()

'Lizzo'

In [46]:
#Genre
# This doesn't work. I tried something else, which only works half way, will come back to it!
#chart-position-1 > div:nth-child(2) > ul:nth-child(2) > li:nth-child(1) > a:nth-child(2)#
genre_soup=soup.select('div:nth-child(2) > ul:nth-child(2) > li:nth-child(1) > a:nth-child(2)')
print(genre_soup[82])

IndexError: list index out of range

In [ ]:
#chart-position-93 > div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)
soup.select('div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)')

In [53]:
#genre = []

ge = soup.select('div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)')[0]

print(ge)

#for ge in soup.select('div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)'):
#    # link = pr['href'] does not work; last item does not have an href
#    link = ge.get("href")
#    print(link)
#    if link is not None:
#        if (("/wiki" in link) & 
#            ("election" not in link) & 
#            ("residen" not in link)):
#            presidents.append(link)

<li><strong>Genre</strong>: <a href="/music/charts/top-pop-songs.php">Pop</a></li>

In [ ]:
#Release Date:
##chart-position-19 > div:nth-child(2) > ul:nth-child(2) > li:nth-child(2)
# #chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(2)
release_date = soup.select('div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(2)')


##chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(2)
##chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)

## Create dataframe

In [32]:
#initialize empty lists
title = []
artist = []
genre = []


## define the number of iterations of our for loop
## by checking how many elements are in the retrieved result set
## (this is equivalent but more robust than just explicitly defining 250 iterations)
num_iter = len(soup.select("cite.title"))
print(num_iter)
#

artist_soup = soup.select('em.artist')
# = soup.select("")
#spanlist = soup.select("td.titleColumn span.secondaryInfo")
### iterate through the result set and retrive all the data
for i in range(num_iter):
    title.append(title_soup[i].get_text())
    artist.append(artist_soup[i].get_text())
    try:
        genre.append(genre_soup[i].get_text())
    except:
        genre.append("NA")
    
#
#print(title)
#print(dir_stars)
#print(year)

100

In [109]:
# each list becomes a column
top_100 = pd.DataFrame({'title':title,
                       'artist':artist,
                        'genre':genre
                      })
top_100.index += 1
display(top_100)

,title,artist,genre
1,About Damn Time,Lizzo,Pop
2,Running Up That Hill (A Deal with God),Kate Bush,Pop
3,Y'all Life,Walker Hayes,Pop
4,Names,Tom MacDonald,Pop
5,BREAK MY SOUL,Beyoncé,Country
...,...,...,...
96,Danger Zone,Kenny Loggins,NA
97,Buy Dirt (feat. Luke Bryan),Jordan Davis,NA
98,"Thick Fine Woman (feat. Lil' Ronny Mothaf, Fat...",Chalie Boy,NA
99,Levitating (feat. DaBaby),Dua Lipa,NA
100,Project,Chase McDaniel,NA

In [37]:
top_100[top_100['genre'] == 'NA']

,title,artist,genre
82,Take My Name,Parmalee,NA
83,Intro,j-hope,NA
84,Big Energy,Latto,NA
85,Soul,Lee Brice,NA
86,She Likes It (feat. Jake Scott),Russell Dickerson & Jake Scott,NA
87,Wild Palomino,Zac Brown Band & Cody Johnson,NA
88,Hold On,Wilson Phillips,NA
89,Sand In My Boots,Morgan Wallen,NA
90,W.I.T.C.H.,Devon Cole,NA
91,Heat Waves,Glass Animals,NA
92,abcdefu (feat. Royal & the Serpent),GAYLE,NA
93,"Hold My Hand (Music From The Motion Picture ""T...",Lady Gaga,NA
94,Numb Little Bug,Em Beihold,NA
95,Danger Zone,Kenny Loggins,NA
96,Buy Dirt (feat. Luke Bryan),Jordan Davis,NA
97,"Thick Fine Woman (feat. Lil' Ronny Mothaf, Fat...",Chalie Boy,NA
98,Levitating (feat. DaBaby),Dua Lipa,NA
99,Project,Chase McDaniel,NA

## Use different website:

In [79]:
url2 = 'https://playback.fm/charts/top-100-songs/2021'

In [80]:
response = requests.get(url2)
response.status_code

200

In [82]:
soup2 = BeautifulSoup(response.content, "html.parser")

In [ ]:
print(soup2.prettify())

In [89]:
# Selecting the info we want to have: at least title and artist, if available genre:

soup2.select('tr td a.artist')[0].get_text().replace('\n','')

'Dua Lipa & DaBaby'

In [102]:
len(soup2.select('tr td a.artist'))

100

In [99]:
soup2.select('tr td span.song')[1].get_text().replace('\n','')
#soup2.find_all(class_="song")

'Levitating'

In [98]:
len(soup2.select('tr td span.song'))

200

In [104]:
iterations = range(0,200, 2)
print([i for i in iterations])

title2 = []
artist2 = []

for i in iterations:
    title2.append(soup2.select('tr td span.song')[i].get_text().replace('\n',''))

for i in range(0, 100):
    artist2.append(soup2.select('tr td a.artist')[i].get_text().replace('\n', ''))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [108]:
# Create a DataFrame:
top_100_21 = pd.DataFrame({'title':title2,
                       'artist':artist2
                      })

top_100_21.index += 1
display(top_100_21)

                              title                        artist
1                        Levitating             Dua Lipa & DaBaby
2                   Drivers License                Olivia Rodrigo
3                   Save Your Tears    The Weeknd & Ariana Grande
4    Montero (Call Me by Your Name)                     Lil Nas X
5                   Blinding Lights                    The Weeknd
..                              ...                           ...
96         Leave Before You Love Me   Marshmello & Jonas Brothers
97                           Beggin                      Maneskin
98                   Famous Friends      Chris Young + Kane Brown
99                          Lil Bit  Nelly & Florida Georgia Line
100                       Thot Shit           Megan Thee Stallion

[100 rows x 2 columns]