In [1]:
#Import important libraries
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [2]:
url = 'https://www.popvortex.com/music/charts/top-100-songs.php'

In [3]:
response = requests.get(url)
response.status_code

200

In [4]:
soup = BeautifulSoup(response.content, "html.parser")

In [ ]:
soup
print(soup.prettify())

In [6]:
#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite
soup.select('#chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > p > cite')

In [ ]:
soup.select('div.chart-content.col-xs-12.col-sm-8 ')

In [8]:
#Select only the titles:
title_soup=soup.select('cite.title')

In [9]:
soup.select('em.artist')[0].get_text()

'Lizzo'

In [10]:
#Genre
# This doesn't work. I tried something else, which only works half way, will come back to it!
#chart-position-1 > div:nth-child(2) > ul:nth-child(2) > li:nth-child(1) > a:nth-child(2)#
genre_soup=soup.select('div:nth-child(2) > ul:nth-child(2) > li:nth-child(1) > a:nth-child(2)')
print(genre_soup[82])

IndexError: list index out of range

In [ ]:
#chart-position-93 > div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)
soup.select('div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)')

In [12]:
#genre = []

ge = soup.select('div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)')[0]

print(ge)

#for ge in soup.select('div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)'):
#    # link = pr['href'] does not work; last item does not have an href
#    link = ge.get("href")
#    print(link)
#    if link is not None:
#        if (("/wiki" in link) & 
#            ("election" not in link) & 
#            ("residen" not in link)):
#            presidents.append(link)

<li><strong>Genre</strong>: <a href="/music/charts/top-pop-songs.php">Pop</a></li>

In [ ]:
#Release Date:
##chart-position-19 > div:nth-child(2) > ul:nth-child(2) > li:nth-child(2)
# #chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(2)
release_date = soup.select('div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(2)')
display(release_date)

##chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(2)
##chart-position-1 > div.chart-content.col-xs-12.col-sm-8 > ul > li:nth-child(1)

## Create dataframe

In [14]:
#initialize empty lists
title = []
artist = []
genre = []


## define the number of iterations of our for loop
## by checking how many elements are in the retrieved result set
## (this is equivalent but more robust than just explicitly defining 250 iterations)
num_iter = len(soup.select("cite.title"))
print(num_iter)
#

artist_soup = soup.select('em.artist')
# = soup.select("")
#spanlist = soup.select("td.titleColumn span.secondaryInfo")
### iterate through the result set and retrive all the data
for i in range(num_iter):
    title.append(title_soup[i].get_text())
    artist.append(artist_soup[i].get_text())
    try:
        genre.append(genre_soup[i].get_text())
    except:
        genre.append("NA")
    
#
#print(title)
#print(dir_stars)
#print(year)

100

In [16]:
# each list becomes a column
top_100 = pd.DataFrame({'title':title,
                       'artist':artist,
                        'genre':genre
                      })
top_100.index += 1
display(top_100)

                                      title         artist    genre
1                           About Damn Time          Lizzo      Pop
2    Running Up That Hill (A Deal with God)      Kate Bush      Pop
3                                Irrelevant           P!nk      Pop
4                                Y'all Life   Walker Hayes      Pop
5                                     Names  Tom MacDonald  Country
..                                      ...            ...      ...
96                                     STOP         j-hope       NA
97                        Betty (Get Money)     Yung Gravy       NA
98                               Heat Waves  Glass Animals       NA
99                            Night Changes  One Direction       NA
100                        Sand In My Boots  Morgan Wallen       NA

[100 rows x 3 columns]

In [17]:
top_100[top_100['genre'] == 'NA']

                                       title         artist genre
82                                       You         Louyah    NA
83                                Hot n Cold     Katy Perry    NA
84           In Jesus Name (God Of Possible)   Katy Nichole    NA
85              Music For a Sushi Restaurant   Harry Styles    NA
86                                      Soul      Lee Brice    NA
87                                    Future         j-hope    NA
88                             Pandora's Box         j-hope    NA
89                               Safety Zone         j-hope    NA
90                                  What If…         j-hope    NA
91                               Danger Zone  Kenny Loggins    NA
92                           Numb Little Bug     Em Beihold    NA
93                                   Save Me     Jelly Roll    NA
94   Something in the Orange (Z&E's Version)     Zach Bryan    NA
95                            Kings & Queens        Ava Max    NA
96                                      STOP         j-hope    NA
97                         Betty (Get Money)     Yung Gravy    NA
98                                Heat Waves  Glass Animals    NA
99                             Night Changes  One Direction    NA
100                         Sand In My Boots  Morgan Wallen    NA

In [116]:
## https://stackoverflow.com/questions/39512002/convert-whole-dataframe-from-lower-case-to-upper-case-with-pandas
top_100_lower = top_100.apply(lambda x: x.astype(str).str.lower())

## Use different website:

In [ ]:
url2 = 'https://playback.fm/charts/top-100-songs/2021'

In [ ]:
response = requests.get(url2)
response.status_code

In [ ]:
soup2 = BeautifulSoup(response.content, "html.parser")

In [ ]:
print(soup2.prettify())

In [ ]:
# Selecting the info we want to have: at least title and artist, if available genre:

soup2.select('tr td a.artist')[0].get_text().replace('\n','')

In [ ]:
len(soup2.select('tr td a.artist'))

In [ ]:
soup2.select('tr td span.song')[1].get_text().replace('\n','')
#soup2.find_all(class_="song")

In [ ]:
len(soup2.select('tr td span.song'))

In [ ]:
iterations = range(0,200, 2)
print([i for i in iterations])

title2 = []
artist2 = []

for i in iterations:
    title2.append(soup2.select('tr td span.song')[i].get_text().replace('\n',''))

for i in range(0, 100):
    artist2.append(soup2.select('tr td a.artist')[i].get_text().replace('\n', ''))

In [ ]:
# Create a DataFrame:
top_100_21 = pd.DataFrame({'title':title2,
                       'artist':artist2,
                      })

top_100_21.index += 1
display(top_100_21)

## 1st prototype

In [77]:
#Import libraries:
import random

In [134]:
# Let the user give a song:
song = input("Enter your favourite song (without artist): ")

Enter your favourite song: running up that hill

In [135]:
#make the input lower case, so all the mess that can happen during the input is minimized
song = song.lower()

#create a list with booleans, then put this into the dataframe to get the line with the song and check on the length of this df.
# If it is 0 we haven't found a title --> It is not in the Top Ten
if len(top_100_lower[top_100_lower['title'].str.contains(song)]) >= 1:
    n = random.randint(1,100)   # create a random number to make a suggestion
    print('Yay, hot song! Here is another one for you: \n \n' + str(top_100.iloc[n, 0]) + ' - ' + str(top_100.iloc[n, 1]))
    #print out the title and the artist (This time from top_100, because titles have the original format)
else: 
    print('I cannot recommand anything! sorry!')

Yay, hot song! Here is another one for you:

Big Energy - Latto

In [97]:
#Nice, but I want more control. So I didn't use it
recommanded_titel = random.choice(top_100.title)
print(recommanded_titel)

Quietly Yours

In [ ]:
# Two different ideas for the selection. Please ignore these, Erin, they are just for my record

In [136]:
top_100_lower[song == top_100_lower['title']]

Empty DataFrame
Columns: [title, artist, genre]
Index: []

In [34]:
top_100['title'].str.contains(song)

1      False
2      False
3      False
4      False
5      False
       ...
96     False
97     False
98     False
99     False
100    False
Name: title, Length: 100, dtype: bool